<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.INoticeDao">
	<select id="selectNoticeByProject" parameterType="int" resultType="notice">
		select * from notice where p_index=#{p_index} order by n_writedate desc
	</select>

	<select id="selectOneNotice" parameterType="int" resultType="notice">
		select * from notice where n_index =#{n_index}
	</select>
	
	<insert id="insertNotice" parameterType="java.util.HashMap">
		insert into notice (n_index, p_index, n_title, n_writedate, n_contents) values (0, #{p_index}, #{n_title}, now(), #{n_contents})
	</insert>
	
	<delete id="deleteNotice" parameterType="int">
		delete from notice where n_index=#{n_index}
	</delete>
	
	<update id="updateNotice" parameterType="java.util.HashMap">
		update notice set n_title=#{n_title}, n_writedate=now(), n_contents=#{n_contents} where n_index=#{n_index}
	</update>
	
	
</mapper>