<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.IProjectDao">

	<select id="selectAllProjects" resultType="project">
		select * from Project
	</select>
	
	<select id="selectEndProject" resultType="project">
	<![CDATA[
		select * from project where (p_startdate <= now() and p_enddate >= now()) and p_approval=2 order by p_enddate limit 3
		]]>
	</select>

	<select id="selectNewProject" resultType="project">
		<![CDATA[
		select * from project where (p_startdate <= now() and p_enddate >= now()) and p_approval=2 order by p_startdate desc limit 3
		]]>
	</select>
	
	<select id="selectSuccessProject" resultType="project">
	<![CDATA[
		select * from project where (p_startdate <= now() and p_enddate >= now()) and p_approval=2 and p_target/p_status not in ('0') order by (p_target/p_status) limit 3
		]]>
	</select>
	
	<sql id="mainImg">
		<if test="p_mainimg == null || p_mainimg == ''">
			"img/user.png"
		</if>
		<if test="p_mainimg != null">
			#{p_mainimg}
		</if>
	</sql>

	<insert id="insertProject" parameterType="project" useGeneratedKeys="true" keyProperty="p_index">
		insert into Project (m_id, p_approval, p_createdate, p_status, p_calculate) values (#{m_id}, 4, now(), 0, 0);
	</insert>
	
	<select id="selectOneProjectByIndex" parameterType="int" resultType="project">
		select * from Project where p_index=#{p_index}
	</select>
	
	<select id="selectProjectsById" parameterType="int" resultType="project">
		select * from Project where m_id=#{m_id} order by p_index desc
	</select>
	
	<update id="updateBasicInfo" parameterType="project">
		update Project set ct_index=#{ct_index}, p_name=#{p_name}, p_mainImg=<include refid="mainImg"/>, p_type=#{p_type}, p_target=#{p_target}, p_startdate=#{p_startdate}, p_enddate=#{p_enddate}, p_age=#{p_age} where p_index=#{p_index}
	</update>
	
	<update id="updatePolicy" parameterType="project">
		update Project set p_policy=#{p_policy} where p_index=#{p_index}
	</update>
	
	<select id="selectProject_more" resultType="project" parameterType="java.util.HashMap">
		<!-- <![CDATA[
			select * from project where (p_startdate <= now() or p_enddate <= now()) and p_approval=2 order by p_startdate desc limit #{num},9
		]]> -->
		
		select * from project where 
		
		<choose>
		<when test="option==1">
			<![CDATA[p_enddate < now() and (p_approval=2 or p_approval=5 or p_approval=6)]]></when>
		<otherwise>
			<![CDATA[(p_startdate <= now() and p_enddate >= now()) and p_approval=2]]></otherwise>
			
		
		</choose>
		<if test="sort == 1">
		<if test="ct_index != 0 "> AND ct_index= #{ct_index} </if> 
		<if test="keyword != null or keyword !='' "> AND p_name like '%${keyword}%' </if>
		order by p_startdate desc limit #{num},9</if>
		
		<if test="sort == 2">
		<if test="ct_index != 0 "> AND ct_index= #{ct_index} </if> 
		<if test="keyword != null or keyword !='' "> AND p_name like '%${keyword}%' </if>
		order by p_enddate limit #{num},9</if>
		
		<if test="sort==3">
		<if test="ct_index != 0 "> AND ct_index= #{ct_index} </if> 
		<if test="keyword != null or keyword !='' "> AND p_name like '%${keyword}%' </if>
		order by (p_status/p_target) desc limit #{num},9
		</if>
	</select>
		
	<select id="selectProjectsByCategory" parameterType="int" resultType="project">
		select * from Project where ct_index=#{ct_index}
	</select>
		
	<select id="selectProjectsByApproval" parameterType="int" resultType="project">
		select * from Project where p_approval=#{p_approval}
	</select>
	
	<select id="selectProjectsByProgress" parameterType="int" resultType="project">
		select * from Project where p_approval = 2 and
		<if test="progress == 1"><![CDATA[(p_startdate < now())]]></if>
		<if test="progress == 2"><![CDATA[(p_startdate >= now())]]></if> 
		order by p_startdate desc
	</select>
	
	<select id="selectProjectsByCalculate" parameterType="java.util.HashMap" resultType="project">
		select * from Project where p_approval = 2 and <![CDATA[(p_enddate < now())]]> 
		<if test="calculate == 1"> and <![CDATA[(p_calculate = 0)]]></if>
		<if test="calculate == 2"> and <![CDATA[(p_calculate > 0)]]></if>
		<if test="calculate == 3"> and <![CDATA[(p_calculate < 0)]]></if>
		order by p_enddate desc
	</select>
	
	<update id="updateApproval" parameterType="java.util.HashMap">
		update Project set p_approval=#{p_approval} <if test="p_approval == 1"> , p_createdate=now()</if> where p_index=#{p_index}
	</update>
	
	<update id="update_P_status" parameterType="project">
		update project set p_status=#{p_status} where p_index=#{p_index}
	</update>
	
	<update id="updateCalculate" parameterType="java.util.HashMap">
		update Project set p_calculate=#{p_calculate}, p_approval=5 where p_index=#{p_index}
	</update>
	
	<update id="updateStory" parameterType="project">
		update Project set p_contents=#{p_contents} where p_index=#{p_index}
	</update>
		
	<select id="selectProjectByBefore" resultType="project">
		select * from Project where p_approval=2 and <![CDATA[p_startdate > now()]]>
	</select>
	
	<select id="selectProjectByAfter" resultType="project">
		select * from Project where p_approval=2 and <![CDATA[p_startdate <= now()]]> and <![CDATA[p_enddate > now()]]>
	</select>
	
	<select id="selectProjectsByComplete" resultType="project">
		select * from Project where p_approval=6 and <![CDATA[p_enddate < now()]]> and p_calculate > 0
	</select>
	
	<select id="selectProjectsByWait" resultType="project">
		select * from Project where p_approval=5 and <![CDATA[p_enddate < now()]]>
	</select>
	
	<update id="updateComplete" parameterType="int">
		update Project set p_approval=6 where p_index=#{p_index}
	</update>
	
	<select id="selectProjectsByBeforeApply" resultType="project">
		select * from Project where <![CDATA[p_enddate < now()]]> and <![CDATA[p_target <= p_status]]> and p_approval=2
	</select>
	
	<select id="selectProjectsByFail" resultType="project">
		select * from Project where <![CDATA[p_enddate < now()]]> and p_target > p_status
	</select>
	
</mapper>