.c_body {
	margin: 0;
	background-color: #333;
	padding: 0;
	background: url(../img/lgf1.png);
	background-repeat: no-repeat;;
	background-position: bottom;
	background-attachment: fixed;
}

.certifiedbox {
	width: 320px;
	height: 400px;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 30px 30px;
	background : rgba(0,0,0,0.8);
	border-radius: 10px;
}

.certifiedbox p {
	margin: 0;
	padding: 0;
}

.certifiedbox .c_timer {
	left: calc(50% - 40px;)
}

.certifiedbox input[type="text"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;;
	height: 30px;
	color: #fff;
	font-size: 20px;
}

.certifiedbox .c_certifibtn {
	border: none;
	outline: none;
	height: 40px;
	width: 120px;
	background: green;
	color: #fff;
	font-size: 17px;
	border-radius: 29px;
	margin-left: 5px;
	cursor: pointer;
}
.certifiedbox .c_recertifibtn {
	border: none;
	outline: none;
	height: 40px;
	width: 250px;
	background: orange;
	color: #fff;
	font-size: 17px;
	border-radius: 29px;
	margin-bottom: 10px;
	cursor: pointer;
}
.certifiedbox .c_cancelbtn {
	border: none;
	outline: none;
	height: 40px;
	width: 120px;
	background: red;
	color: #fff;
	font-size: 17px;
	border-radius: 29px;
	cursor: pointer;
}