body {
	margin: 0;
	background-color: #000;
	padding: 0;
	font-family: sans-serif;
}

small {
	font-size: 9pt;
	color: red;
}

.searchbox {
	/* margin-top: 100px; */
	/* margin-bottom: 200px; */
	width: 320px;
	height: 500px;
	background : #000;
	color: #fff;
 	top: 50%;
	left: 50%; 
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 30px;
}

.searchbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.searchbox input {
	width: 100%;
	margin-bottom: 20px;
}

.searchbox input[type="email"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.searchbox .certifi {
	border: none;
	outline: none;
	height: 40px;
	width: 125px;
	background: #000099;
	color: #fff;
	font-size: 18px;
	border-radius: 29px;
	align-content: center;
}

.searchbox input[type="submit"]:hover,
.searchbox input[type="button"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.searchbox .codebtn {
	border: none;
	outline: none;
	height: 40px;
	background: green;
	color: #fff;
	font-size: 18px;
	border-radius: 29px;
}

.searchbox .cancel {
	border: none;
	outline: none;
	height: 40px;
	width: 125px;
	background: red;
	color: #fff;
	font-size: 18px;
	border-radius: 29px;
}

.searchbox input[type="text"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.searchbox select {
	width: 70px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

/* @media ( max-height: 700px) {
	.searchbox {
		margin-top: 600px;
	}
} */